<h2>Next Match </h2>
<hr>
<div class = "row">
<div class = "teamnames col-sm-8 col-md-6">  
        <div class = "row">
    <div class = "teamnames norightspace col-sm-5">         
    &nbsp;&nbsp;<img  class = "img-fluid" src="{{teamHomeImagePath}}" height = "30" width = "40">&nbsp;
    <br>{{team1}} 
</div> 
<div class = "smvsspace  mdvsspace lgvsspace teamnames col-sm-1">
        Vs
</div>
<div class = "teamnames col-sm-5 lgteamsp">
        &nbsp;&nbsp;<img  class = "img-fluid" src="{{teamAwayImagePath}}" height = "30" width = "30">&nbsp;
    <br>{{team2}} 
</div>
</div>
</div>
<div class ="col-sm-4 col-md-6">
<div class = "row">
    <div class = "countdown ml-auto">  {{leftdays}}:<br><span class="hhmmss">Days</span> </div>
    <div class = "countdown">  {{lefthours}}:<br><span class="hhmmss">Hours</span> </div>
    <div class = "countdown">  {{leftminutes}}:<br><span class="hhmmss">&nbsp;Mins </span></div>
    <div class = "countdown">  {{leftseconds}}<br><span class="hhmmss">&nbsp;Secs </span></div>
</div>
</div>
</div>
<br>
<br>
