<h1>Next Match </h1>
<hr>
<div class = "row">
<div class = "teamnames col-sm-5">  {{team1}} Vs {{team2}} </div>
<div class ="col-sm-7">
<div class = "row">
    <div class = "countdown ml-auto">  {{leftdays}}:<br><span class="hhmmss">Days</span> </div>
    <div class = "countdown">  {{lefthours}}:<br><span class="hhmmss">Hours</span> </div>
    <div class = "countdown">  {{leftminutes}}:<br><span class="hhmmss">&nbsp;Mins </span></div>
    <div class = "countdown">  {{leftseconds}}<br><span class="hhmmss">&nbsp;Secs </span></div>
</div>
</div>
</div>
<br>
<br>
