.teamnames {
    float: left;
    font-weight: bold;
    margin-top: 20px;
    font-size: 22px;
}

.countdown {
    font-weight: bold;
    font-size: 40px;
}

.hhmmss {
    float: left;
    font-size: 15px;
    font-weight:lighter;
}

@media (max-width: 768px) {
    .ml-auto{
        margin-left: 0px !important;
        padding-left: 15px;
    }
}